
@{
    ViewBag.Title = "ErrorPage";
}

<h2>Error!</h2>
<br />
<text class="text-danger">Oops! An Image is Required</text>
<br />
@Html.ActionLink("Back","PostAd","Ads",null,new{@class="btn btn-default"})

