@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Real Estate Web Application</h1>
    <p class="lead">A web application created using ASP.NET</p>
</div>

<div class="row">
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated)
        {
        <p>
            Click here to view your previous agreements
        </p>
        @Html.ActionLink("View Agreements", "Index", "Agreements", "null", new { @class = "btn btn-default" })
        }
    </div>
    
</div>